.viewer-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.viewer-wrapper {
  position: relative;
  padding-bottom: 60%;
}

.viewer-space {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}

/* Container for the popup */
.popup-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 560px;
  height: 50vh;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  /* Initially hidden (off-screen) */
  z-index: 1000;
}

.popup-container.open {
  transform: translateX(0);
  /* Show the popup */
}

.popup-content {
  padding: 16px;
  overflow-y: auto;
}

.popup-content h3 {
  margin-top: 0;
}

.popup-content p {
  margin: 8px 0;
}

.popup-content button {
  margin-top: 16px;
  padding: 8px 16px;
  background-color: #ff3f34;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.popup-content button:hover {
  background-color: #d02a20;
}